<h1>About</h1>
<p> The Urbinary Library is simply an online depository of books, articles, etc of all things tech. While there aren't that many things up yet
 (and to be honest, this is a project I have going on to really learn ruby on rails), I hope you gain some knowledge from it.

While many of the books and articles are free, some have already been paid for. We're simply sharing our resources with you because 
we're nice people.
</p>
<p> This site is being created through <%= link_to "One Month Rails", "http://onemonthrails.com" %>
</p>



